<div class = 'container'>
  <h1>Course Index</h1>
  <% render 'layouts/flash_messages' %>

  <ul class="media-list">
    <% @courses.each.with_index(1) do |course, index| %>
      <li class="media">
        <a class="media-left" href="#">
          <img src="../img/sample-64x64.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= index %>: <%= course.name %></h4>
          <%= course.location %>
        </div>
      </li>
    <% end %>  
  </ul>
  <%= paginate @courses %>
</div>  