/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


.header{
  border-top:3px solid #000;
}

.logo{
  width: 150px;
  margin:0 auto;
  display:block;
}

.headerNavBtn{
  text-align:center;
  height:3em;
  line-height:3em;
  color:#5F5F5F;
  font-size:16px;
}

.headerNavBtn:hover{
  background:#EEE;
}

.thumbnail {
  position: relative;
}

@media screen and (max-width:929px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  #score_image { 
    width: 400px;
  }
}

@media screen and (min-width:930px) and ( max-width:1199px) {
  /*　画面サイズが480pxから768pxまではここを読み込む　*/
  #score_image { 
    width: 800px;
  }
}

.date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: orange;
  width: 100px;
  height: 100px;
  padding: 12.5px 0;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  .day {
    font-size: 18px;
  }
  .month {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.img_height {
  min-height: 400px;
}

.score_index_img {
  padding-top: 100px;
  min-height: 350px;
}

.no_image {
  text-align: center;
  padding-top: 50px;
}

.make_inline {
  display: inline;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #ea5532;
}

.course_index {
  width: 200px;
  height: 35px;
  border: 1px solid #ea5532;
  border-radius: 1px;
  background: #ea5532;
  color: #fff;
  font-size: 15px;
  line-height: 35px;
  padding-left: 5px;
}

.css1 {
  font-size: 1.0em; 
}

.css2 {
  font-size: 1.2em; 
}

.css3 {
  font-size: 1.4em; 
}

.css4 {
  font-size: 1.6em; 
}